<!DOCTYPE html>
<html>

<head>
   
    <title>login/signup</title>

   
</head>

<body>
       
<form method="POST">
    <input type="email" name="email" id="email" placeholder="Email" autofocus class="form-control">
                           
    <input type="password" name="password" id="password" placeholder="Password" class="form-control">
                             
    <button type="submit">Login</button>
                                    
    <p><a href="/signup">Sign Up Here</a></p> 
</form>
                    

</body>

</html>