<!DOCTYPE html>
<html>

<head>
   
    <title>login/signup</title>

   
</head>

<body>
       
<form method="POST">
  <input type="email" name="email" id="email" placeholder="Email">

  <input type="text" name="name" id="name" placeholder="name">
  <input type="text" name="branch" id="branch" placeholder="branch">
  <input type="text" name="college" id="college" placeholder="college">
  <input type="number" name="year" id="year" placeholder="year">
                           
  <input type="password" name="password" id="password" placeholder="Password">
                             
  <button type="submit">sign up</button>
                                    
  <p><a href="/login">Login Here</a></p> 
        
</form>
                    

</body>

</html>