<html>
<head>
</head>

<body>

<div id="layout">
    

    <div id="main">
        

        <div class="content">
            <h2 class="content-subhead">Add Course</h2>
            <p>
            </p><form class="pure-form" method="POST">
                <fieldset>
                    <legend>Search by course name, code!</legend>

                    <div class="pure-control-group">
                                          

                        <input id="coursecode" type="text" placeholder="PHY103" name="coursecode" required="">
                        <input id="prof" name="prof" placeholder="professor" required="">
                        <input id="coursetitle" name="coursetitle" placeholder="intro to batti" required="">
                        <input id="level" name="level" placeholder="Course level" type="number" required="">

                        <input id="year" name="year" placeholder="Course year" type="number" required="">

                        <input id="semester" name="semester" placeholder="Semester" type="number" required="">
                                          
                        <button type="submit" class="pure-button pure-button-primary">Add Course</button>                    
                    </div>
                </fieldset>

            </form>            
            <p></p>
        </div>

        
    </div>

</div>
</body>
</html>
